// Paragraphs
@mixin p {
	line-height: $base-line-height;
	&:not(:last-child) {
		margin-bottom: 1.2em;
	}
}

// Unordered List
@mixin ul {
	@include p;
	margin-left: 1em;

	li {
		list-style: disc outside;
		padding: 1em 0 1em rem(20);
	}
}

// Blockquotes
@mixin blockquote {
	@include p;
}

@mixin h-xxl {
	font: {
		size: 1.75em;
		weight: $header-font-weight;
	}
	line-height: 1.1;
	margin-bottom: .5em;
}
