//   $$$$$$\  $$\   $$\               $$\ $$\      $$\ $$\       $$\           $$\
//  $$  __$$\ \__|  $$ |              $$ |$$ | $\  $$ |\__|      $$ |          $$ |
//  $$ /  \__|$$\ $$$$$$\    $$$$$$\  $$ |$$ |$$$\ $$ |$$\  $$$$$$$ | $$$$$$\  $$ |
//  \$$$$$$\  $$ |\_$$  _|  $$  __$$\ $$ |$$ $$ $$\$$ |$$ |$$  __$$ |$$  __$$\ $$ |
//   \____$$\ $$ |  $$ |    $$$$$$$$ |\__|$$$$  _$$$$ |$$ |$$ /  $$ |$$$$$$$$ |\__|
//  $$\   $$ |$$ |  $$ |$$\ $$   ____|    $$$  / \$$$ |$$ |$$ |  $$ |$$   ____|
//  \$$$$$$  |$$ |  \$$$$  |\$$$$$$$\ $$\ $$  /   \$$ |$$ |\$$$$$$$ |\$$$$$$$\ $$\
//   \______/ \__|   \____/  \_______|\__|\__/     \__|\__| \_______| \_______|\__|
//
//
//

html {
	box-sizing: border-box;
	font-size: 1em;
	line-height: 1;
	min-height: 100%;
	overflow-y: scroll;
	-webkit-font-smoothing: antialiased;

	@include media($xxlarge-up) {
		font-size: 1.05em;
	}

	@include media($medium-only) {
		font-size: 0.9em;
	}

	@include media($small-only) {
		font-size: 0.8em;
	}
}

// Border Box all the things!
*,
*:before,
*:after {
	box-sizing: inherit;
}

*:focus {
	outline: 0;
	outline-style: none !important;
}

body {
	font-feature-settings: "liga", "kern", "pnum", "case";
	color: $default-body-color;
	font-family: $base-font-family;
}

a {
	color: $default-link-color;
	transition: all 0.2s ease-in-out;

	&:hover {
		color: $default-link-color-hover;
	}
}
