//  $$\   $$\
//  $$$\  $$ |
//  $$$$\ $$ | $$$$$$\ $$\    $$\  $$$$$$$\
//  $$ $$\$$ | \____$$\\$$\  $$  |$$  _____|
//  $$ \$$$$ | $$$$$$$ |\$$\$$  / \$$$$$$\
//  $$ |\$$$ |$$  __$$ | \$$$  /   \____$$\
//  $$ | \$$ |\$$$$$$$ |  \$  /   $$$$$$$  |
//  \__|  \__| \_______|   \_/    \_______/
//
//
//

// Base - Default Nav
.nav {
	@include clearfix;

	> li {
		display: inline-block;
		margin: 0 -2px; // Probably should figure out a better way but for now…
		padding: 0;

		&:first-child {
			margin-left: 0;
		}

		> a {
			display: block;
			text-decoration: none;
		}
	}
}
