//  $$$$$$\
//  \_$$  _|
//    $$ |  $$$$$$\$$$$\   $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$$\
//    $$ |  $$  _$$  _$$\  \____$$\ $$  __$$\ $$  __$$\ $$  _____|
//    $$ |  $$ / $$ / $$ | $$$$$$$ |$$ /  $$ |$$$$$$$$ |\$$$$$$\
//    $$ |  $$ | $$ | $$ |$$  __$$ |$$ |  $$ |$$   ____| \____$$\
//  $$$$$$\ $$ | $$ | $$ |\$$$$$$$ |\$$$$$$$ |\$$$$$$$\ $$$$$$$  |
//  \______|\__| \__| \__| \_______| \____$$ | \_______|\_______/
//                                  $$\   $$ |
//                                  \$$$$$$  |
//                                   \______/

// Fluid Images
img {
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

// Non-fluid images if you specify `width` and/or `height` attributes.
img[width],
img[height] {
	max-height: none;
}

// Rounded images
.img {

	&.-round {
		border-radius: 50%
	}

	&.-right {
		float: right;
		margin: {
			bottom: $gutter;
			left: $gutter;
		}
	}

	&.-left {
		float: left;
		margin: {
			right: $gutter;
			bottom: $gutter;
		}
	}

	&.-center {
		display: block;
		margin: {
			right: auto;
			bottom: $gutter;
			left: auto;
		}
	}
}
