//  $$\                                                $$\
//  $$ |                                               $$ |
//  $$ |      $$$$$$\  $$\   $$\  $$$$$$\  $$\   $$\ $$$$$$\
//  $$ |      \____$$\ $$ |  $$ |$$  __$$\ $$ |  $$ |\_$$  _|
//  $$ |      $$$$$$$ |$$ |  $$ |$$ /  $$ |$$ |  $$ |  $$ |
//  $$ |     $$  __$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |  $$ |$$\
//  $$$$$$$$\\$$$$$$$ |\$$$$$$$ |\$$$$$$  |\$$$$$$  |  \$$$$  |
//  \________|\_______| \____$$ | \______/  \______/    \____/
//                     $$\   $$ |
//                     \$$$$$$  |
//                      \______/

.container {
	@include outer-container;

	&.-outer {
		padding: 0 $gutter;

		@include media($to-large) {
			padding: 0 $gutter/2;
		}
	}
}

section {
	@include clearfix;
}

.visually-hidden {
	display: none;
	visibility: hidden;
}
