//  $$$$$$$$\                                                                   $$\
//  \__$$  __|                                                                  $$ |
//     $$ |$$\   $$\  $$$$$$\   $$$$$$\   $$$$$$\   $$$$$$\  $$$$$$\   $$$$$$\  $$$$$$$\  $$\   $$\
//     $$ |$$ |  $$ |$$  __$$\ $$  __$$\ $$  __$$\ $$  __$$\ \____$$\ $$  __$$\ $$  __$$\ $$ |  $$ |
//     $$ |$$ |  $$ |$$ /  $$ |$$ /  $$ |$$ /  $$ |$$ |  \__|$$$$$$$ |$$ /  $$ |$$ |  $$ |$$ |  $$ |
//     $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |$$ |     $$  __$$ |$$ |  $$ |$$ |  $$ |$$ |  $$ |
//     $$ |\$$$$$$$ |$$$$$$$  |\$$$$$$  |\$$$$$$$ |$$ |     \$$$$$$$ |$$$$$$$  |$$ |  $$ |\$$$$$$$ |
//     \__| \____$$ |$$  ____/  \______/  \____$$ |\__|      \_______|$$  ____/ \__|  \__| \____$$ |
//         $$\   $$ |$$ |                $$\   $$ |                   $$ |                $$\   $$ |
//         \$$$$$$  |$$ |                \$$$$$$  |                   $$ |                \$$$$$$  |
//          \______/ \__|                 \______/                    \__|                 \______/

// Headings
// -------------------------
h1,
h2,
h3,
h4,
h5,
h6
{
	font: {
    family: $header-font-family;
		weight: 800;
	}
  letter-spacing: -0.75px;
	margin: 0;
	padding: 0;
}

// Body Text
// -------------------------
p,
ul,
ol,
blockquote,
figure,
pre,
code,
cite
{
	font: {
		size: 1em;
		style: normal;
		weight: $body-font-weight;
	}
	margin: 0;
	padding: 0;
}

ol,
ul,
dl {
	padding: 0
}

ul,
ol {
	list-style-position: inside;
}

ul {
	list-style-type: none;
}

dl {
	padding: 0;

	dd {
		margin: 0;
	}
}

address {
	font-style: normal;
}
